<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/1.2.2/react-datepicker.css"> 

    <style type="text/css">
    	.btn {
    display: inline-block;
    color: #858585;
    font-size: 12px;
    padding: 7px 15px;
    margin: 0px 5px;
    background-color: #EDEFF0;
    border: 1px solid #DFE3E4;
    transition: all 0.2s ease 0s;
    outline: medium none;
    text-decoration: none;
}
    </style>
  </head>
  <body>
    {% block main %}{% endblock %}
  </body>
</html>
